.holdings {
  margin-top: 30px;
  background-color: #181824;
  color: white;
  padding: 20px;
  border-radius: 10px;
  overflow-x: auto;
}

.holdings h2 {
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}


th,
td {
  text-align: left;
  padding: 10px;
}

th {
  background-color: #2c2c2c;
  font-size: 14px;
}

td {
  border-bottom: 1px solid #333;
  font-size: 14px;
}

.negative {
  color: #ff4d4f;
}

.symbol {
  font-size: 12px;
  color: #999;
  margin-left: 4px;
}

.selected-row {
  background-color: rgba(0, 128, 255, 0.1);
}

img{
  width:30px;
  margin-top:20px;
  margin-right:10px;
}

.coin-info{
  display: flex;
  padding:0;
  margin:0;
}

.coin-info p{
  width:150px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis ;
}

.view-more{
  color: #007bff;
  cursor: pointer;
  border: none;
  background-color: transparent;
}