.app {
  padding: 20px;
  background-color: #0b0a12;
  min-height: 100vh;
  color: white;
  font-family: Verdana;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dashboard{
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
